body {
 width: 90%;
}

h1, h2, h3 {
    margin: 0;
}

#fine-list ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

#drink-list ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fine-item {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
    margin-bottom: 8px;
  }

  .drink-item {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
    margin-bottom: 8px;
  }
  
        .item:nth-child(1) {
            flex-grow: 1;
            width: 10%;
            font-weight: bold;
        }
        
        .item:nth-child(2) {
            flex-shrink: 0;
            width: 30%;
        }
        
        .item:nth-child(3) {
            width: 40%;
            height: auto;
        }

        .item:nth-child(4) {
            width: 10%;
            height: auto;
            font-weight: bold;
        }